.bgButton {
  background-color: #d11507;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  transition: .2s;
  font-size: larger;
}

.bgButton:hover {
  background-color: #a01005;
}
