@import '../styles/Reset.scss';

.bgForm {
  background-color: #ff5232;
  box-shadow: 8px 14px 30px #ff7b5a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 10% auto;
  align-items: center;

  h1 {
    padding: 20px;
    color: #fff;
    font-size: xx-large;
  }

@include responsivo(mobile){
  width: 90%;
}
@include responsivo(tablet){
  width: 90%;
}

}

.bgInputs{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;

  @include responsivo(mobile){
    width: 80%;
  }
  @include responsivo(tablet){
    width: 80%;
  }
}

.bgButton {
  display: flex;
  justify-content: center;
}
