/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Poppins', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Breakpoints
$dispositivo-desktop: 1200px; // Dispositivo desktop
$dispositivo-tablet: 760px; // Dispositivo tablet
$dispositivo-mobile: 480px; // Dispositivo mobile

// Mixin de media-querie (responsivo)
@mixin responsivo($size) {
  @if $size == desktop {
    // Foi utilizado #{} para pegar o número da variável corretamente
    @media screen and (min-width: #{$dispositivo-desktop}) {
      @content; // Conteúdo que eu quero aqui dentro
    }
  } @else if $size == tablet {
    @media screen and (min-width: #{$dispositivo-tablet}) and (max-width: #{$dispositivo-desktop - 1}) {
      @content; // Conteúdo que eu quero aqui dentro
    }
  } @else if $size == mobile {
    @media screen and (max-width: #{$dispositivo-tablet - 1}) {
      @content; // Conteúdo que eu quero aqui dentro
    }
  }
}